.button {
  padding: 12px 24px;
  border: none;
  background: $color-te-papa-green;
  border-radius: 4px;
  font-family: $ff-semibold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.012em;
  color: $color-white;
}
