.form-field {
	width: 100%;
  margin-bottom: 10px;
  padding: 14px;
  font-family: $ff-default;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  background-color: transparent;
  color: $color-white;
  border: 1px solid $color-white;
  border-radius: 7px;
  outline: none;
}
