.main-header {
  // background-color: red;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.main-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header__button {
  @include mobile {
    display: none;
  }
}
