.main-form {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: size(24px);
  padding: size(40px) size(43px);
  border-radius: size(10px);
  background-color: rgba(255, 255, 255, 0.2);

  select,
  input {
    margin: 0 0 size(8px);
    padding: size(13px) size(13px);
    width: 100%;
    border-radius: size(8px);
    border: size(1px) solid $color-Iron;
    background-color: transparent;
    color: $color-cod-gray;
    font-family: $ff-bold;
    font-size: size(16px);
    font-weight: 700;
    line-height: 150%;
    // appearance: none;
  }

  input,
  button {
    padding: size(12px) size(36px);
    font-size: size(16px);
  }

  button {
    padding: size(16px) size(36px);
    border: 0;
    border-radius: size(4px);
    background-color: $color-cod-gray;
    color: #1a3e3e;
    font-family: $ff-bold;
    font-size: size(16px);
    font-weight: 700;
    line-height: 125%;
    letter-spacing: size(0.19px);
  }

  option {
    background-color: $color-te-papa-green;
  }

  label {
    margin: 0;
    padding: 0 0 0 size(8px);
    color: $color-cod-gray;
    font-family: $ff-regular;
    font-size: size(14px);
    font-weight: 400;
    line-height: 150%;
  }
}

.main-form__input-field {
  position: relative;
}

.main-form__item {
  display: grid;
  gap: size(24px);
  align-items: start;
  grid-template-rows: auto;

  &--inputs {
    grid-template-columns: repeat(3, 1fr);
  }

  &--buttons {
    grid-template-columns: 100%;
  }
}
