.main-link {
  padding: size(12px) size(24px);
  border-radius: size(4px);
  background: $color-te-papa-green;
  color: $color-cod-gray;
  font-family: $ff-semibold;
  font-size: size(16px);
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: size(0.19px);
}
