.main-header {
  position: absolute;
  top: size(16px);
  left: 0;
  width: 100%;
  background-color: transparent;

  @include mobile {
    top: size(20px);
    overflow: hidden;
    min-height: 100vh;
  }
}

.main-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
