.main-form {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: size(24px);
  padding: size(40px) size(43px);
  border-radius: size(10px);
  background-color: rgba(255, 255, 255, 0.2);

  select,
  input {
    padding: size(16px) size(13px);
    width: 100%;
    border-radius: size(8px);
    border: size(1px) solid $color-Iron;
    background-color: transparent;
    color: $color-cod-gray;
    font-family: $ff-bold;
    font-size: size(16px);
    font-weight: 700;
    line-height: 150%;
  }

  select {
    appearance: none;
  }

  input,
  button {
    padding: size(16px) size(36px);
    font-size: size(16px);
  }

  p {
    margin: 0;
    color: $color-cod-gray;
    font-family: $ff-regular;
    font-size: size(14px);
    font-weight: 400;
    line-height: 150%;
  }
}

.main-form__item {
  display: grid;
  gap: size(24px);
  align-items: start;
  grid-template-rows: auto;

  &--inputs {
    grid-template-columns: repeat(3, 1fr);
  }

  &--buttons {
    grid-template-columns: 100%;
  }
}
